<!-- Header bar for the main pages of the application such as Hot/Trending/Fresh ... -->

<!-- Dummy header bar (left part) -->
<div style="position: fixed; float: left;">
    <button style="width: 100px; height: 50px">Hot</button>
    <button style="width: 100px; height: 50px">Trending</button>
    <button style="width: 100px; height: 50px">Fresh</button>
    <button style="width: 100px; height: 50px">Funny</button>
    <button style="width: 100px; height: 50px">Lately</button>
    <button style="width: 100px; height: 50px">AIP</button>
</div>

<!-- Dummy header bar (right part), TODO if #style-attributes increases, outsource attributes to css file -->
<div style="float: right;">
    <form action="/upload" method="get">
        <input type="submit" value="Upload">
    </form>
    <button style="width: 100px; height: 50px;">Your Posts</button>
    <button style="width: 100px; height: 50px;">Login/Signup/Logoutt</button>
    <button style="width: 100px; height: 50px;">Settings</button>
</div>